{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Cargar usuario nuevo
{% endblock titulo_pagina %}


{% block contenido %}

{% load crispy_forms_tags %}

<div class="container m-5">
    <h2>Ingreso a la zona de usuario</h2>
    <form method="post" class="form">
        {% csrf_token %}

        {{  login_form|crispy }}
        <input type="submit" class="btn btn-warning btn-block" value="Ingresar" />
    </form>
</div>

{% endblock %}