{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Zona del usuario
{% endblock titulo_pagina %}


{% block contenido %}



<div class="container m-5">
    <h2>Bienvenido</h2>
   
</div>

{% endblock %}