{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Listado de Usuarios Departamental {% endblock %}
{% block contenido %}

<div class="m-3 p-3">
    <h1>Estás en la página de inicio</h1>
</div>

{% endblock %}