<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load static %}
    <!-- Favicon-->
    <link rel="icon" type="image/jpg" href="{% static 'imagenes/logo-enlace-libre.png' %}">

    <!-- link a bootstrap, sweetalert2  y Datatables-->
    <link rel="stylesheet" href="{% static 'bootstrap-local/css/bootstrap.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'sweetAlert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'animatecss/animate.min.css' %}">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.2-web/css/all.min.css' %}">
    
    <!-- Datatables -->
    <link rel="stylesheet" href="{% static 'Datatables/jquery.dataTables.min.css' %}">

     <!-- Estilo local -->
     <link rel="stylesheet" href="{% static 'css/estilo_local.css' %}">
    
    <title>{% block titulo_pagina %} {% endblock %}</title>
</head>
<body class="alert-info">

    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Afiliados Osdem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Autorizaciones</a>
            </li>
            
    {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mi info
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mis datos</a>
                <a class="dropdown-item" href="#">Mis turnos</a>
                <a class="dropdown-item" href="#">Mis autorizaciones</a>
                <a class="dropdown-item" href="{% url 'salir' %}">Salir</a>
              </div>
            </li>
    {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'ingreso' %}">Ingresar</a>
                <a class="dropdown-item" href="{% url 'usuario_registrar' %}">Registrarse</a>
               
                </div>
            </li>
    {% endif %}   
          </ul>
        </div>
      </nav>
    
    {% if messages %}
        {% for message in messages %}
          
          {% if message.tags == 'error' %}
            <div class="alert-danger animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
          {% elif message.tags == 'success' %}
            <div class="alert-success animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
          {% elif message.tags == 'info' %}
            <div class="alert-info animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
          {% endif %}

        {% endfor %}
    {% endif %}    

    
    {% block contenido %}

    {% endblock %}


    <!-- #region ZONA DE SCRIPTS -->

    <!-- FONT AWESOME PARA ICONOS -->
    <script src="{% static 'fontawesome-free-5.15.2-web/js/all.min.js' %}"></script>

    <!-- scripts a Jquery, bootstrap, sweetAlert2 y DataTables  -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-local/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sweetAlert2/sweetalert2.all.min.js' %}"></script>

    <!-- DATATABLES -->
    <script src="{% static 'Datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'Datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'Datatables/jszip.min.js' %}"></script>
    <script src="{% static 'Datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'Datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'Datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'Datatables/buttons.print.min.js' %}"></script>
  
    <!-- #endregion -->

    <script src="{% static 'js/resultados_datatables.js' %}"></script>
</body>
</html>